<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>NervionPlayers - Equipos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../Estilos/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Estilos/bootstrap-3.3.7-dist/js/bootstrap.min.js" rel="stylesheet">
    <link href="../Estilos/Equipos.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../Estilos/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        
        <div class="row">
            
            <div id="divListaEquipos" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <ul id="listaEquipos" style="list-style-type:none">
                    <!--AÑADIR EQUIPOS-->
                </ul>
            </div>

            <div id="divDetallesEquipo" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <label id="labelNombreEquipo">Nombre grupo</label>
                <ul id="listaMiembrosEquipo" style="list-style-type:none" class="list-group">
                    <!--METER FILAS CON LOS EQUIPOS QUE HAN JUGADO-->
                </ul>
                <button id="btnUnirse">Unirse</button>
                <button id="btnAbandonar">Abandonar</button>
            </div>
        </div>

    </div>
</body>
</html>