
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>NervionPlayers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Estilos/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Estilos/Scripts/bootstrap.min.js" rel="stylesheet">
    <link href="~/Estilos/HomePage.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>

    <script src="~/jQuery/scriptLoad.js"></script>
    <script src="~/jQuery/getters.js"></script>
    <script src="~/Models/Persona.ts"></script>
    <script src="~/Estilos/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="divBienvenida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img id="imgLogo" class="img-responsive" src="~/Imagenes/logoNervionPlayers.png" />
                <button id="btnVisitarPagina" class="btn-default">Ir a la página</button>
            </div>

            <div id="divLogin" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <label id="labelUsuario">Usuario</label>
                <input id="txtUsuario" type="text" />
                <label id="labelPassword">Contraseña</label>
                <input id="txtPassword" type="text" />
                <button id="btnLogin" class="btn-default">Iniciar sesión</button>
                <button id="btnRegistro" class="btn-default">Registrarse</button>
            </div>
        </div>

        <div class="row">
            <div id="divPiePagina" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 id="cabeceraPiePagina">Created by</h4>
                <label id="labelPiePagina">Los más mejores del ciclo miarma</label>
            </div>
        </div>
    </div>
</body>
</html>