
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>NervionPlayers - Principal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../Estilos/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Estilos/bootstrap-3.3.7-dist/js/bootstrap.min.js" rel="stylesheet">
    <link href="../../Estilos/Principal.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../../Estilos/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav id="navBarra" class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div id="divCabecera" class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img id="imgLogo" alt="Brand" src="../Imagenes/logoPeque.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fútbol <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Equipos</a></li>
                            <li><a href="#">Partidos</a></li>
                            <li><a href="#">Clasificatoria</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Baloncesto <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Equipos</a></li>
                            <li><a href="#">Partidos</a></li>
                            <li><a href="#">Clasificatoria</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bádminton <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Equipos</a></li>
                            <li><a href="#">Partidos</a></li>
                            <li><a href="#">Clasificatoria</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ajedrez <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Parejas</a></li>
                            <li><a href="#">Duelos</a></li>
                            <li><a href="#">Clasificatoria</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ping-Pong <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Parejas</a></li>
                            <li><a href="#">Duelos</a></li>
                            <li><a href="#">Clasificatoria</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Perfil</a></li>
                            <li><a href="#">Mis grupos</a></li>
                            <li><a href="#">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="divContenidoPrincipal"></div>
</body>
</html>

