
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>NervionPlayers - Registro</title>
    <meta charset="utf-8" />
    <link href="../Estilos/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Estilos/bootstrap-3.3.7-dist/js/bootstrap.min.js" rel="stylesheet">
    <link href="../Estilos/Registro.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../jQuery/getters.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="divDatos1" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label id="labelNombre">Nombre</label>
                <input id="txtNombre" type="text" />
                <label id="labelApellidos">Apellidos</label>
                <input id="txtApellidos" type="text" />
                <label id="labelEmail">Email</label>
                <input id="txtEmail" type="email" />
                <label id="labelCurso">Curso</label>
                <select id="selectCursos">
                    <option>1º ESO A</option>
                    <option>1º ESO B</option>
                    <option>1º ESO C</option>
                    <option>1º ESO D</option>
                    <option>2º ESO A</option>
                    <option>2º ESO B</option>
                    <option>2º ESO C</option>
                    <option>2º ESO D</option>
                    <option>3º ESO A</option>
                    <option>3º ESO B</option>
                    <option>3º ESO C</option>
                    <option>3º ESO D</option>
                    <option>4º ESO A</option>
                    <option>4º ESO B</option>
                    <option>4º ESO C</option>
                    <option>4º ESO D</option>
                    <option>1º BACH A</option>
                    <option>1º BACH B</option>
                    <option>1º BACH C</option>
                    <option>2º BACH A</option>
                    <option>2º BACH B</option>
                    <option>2º BACH C</option>
                    <option>1º DAM</option>
                    <option>2º DAM</option>
                </select>
            </div>

            <div id="divDatos2" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <label id="labelUsuario">Usuario</label>
                <input id="txtUsuario" type="text" />
                <label id="labelPassword">Contraseña</label>
                <input id="txtPassword" type="password" />
                <label id="labelObservaciones">Observaciones</label>
                <textarea id="txtAreaObservaciones" rows="7"></textarea>
            </div>
        </div>

        <div class="row">
            <div id="divPiePagina" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button id="btnRegistro2" class="btn-default">Registrarse</button>
            </div>
        </div>
    </div>
</body>
</html>
