body 
{
    background-color:rgb(68, 68, 68);
    color:white;
}

.btn-default
{
    background: rgb(98, 134, 193);
    border: 0px;
    border-radius: 30px;
    color: white;
    padding: 10px 20px 10px 20px;
    display: block;
    margin: auto;
}

input
{
    color:black;
    border: 0px;
    border-radius: 12px;
    padding: 6px 20px 6px 20px;
    text-align:center;
    display: block;
    margin: auto;
}

#divBienvenida
{
    margin-top:6%;
    margin-right:4%;
}

#divLogin
{
    margin-top:6%;
}

@media(min-width:720px)
{
    #divLogin
    {
        border-left: 4px solid rgb(98, 134, 193);
    }
}

#labelUsuario, #labelPassword
{
    display: block;
    margin: auto;
    text-align:center;
}

#divPiePagina 
{
    bottom:0px;
    position:absolute;
    background-color:rgb(36, 36, 36);
}

#labelUsuario
{
    margin-top:18%;
}

#txtUsuario
{
    margin-bottom:4%;
    margin-top:2%;
}

#txtPassword
{
    margin-bottom:4%;
    margin-top:2%;
}

#btnRegistro
{
    margin-top:4%;
    margin-bottom:12%;
}

#imgLogo 
{
    margin:auto;
}